.container {
  width: 80%;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  background: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(50% - 20px);
  box-sizing: border-box;
  position: relative;
  border-left: 5px solid #007bff;
}
.status {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
}
.name-container h2 {
  font-size: 18px;
  margin: 0;
  padding: 0;
  color: #333;
}
p {
  margin: 5px 0;
  color: #666;
}

.delete-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 8px 16px;
  background-color: #dc3545; /* Bootstrap's danger color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.delete-btn:hover {
  background-color: #c82333; /* Darken color on hover */
}

@media (max-width: 768px) {
  .card {
    width: 100%;
  }
}

.flash-message {
  padding: 10px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  color: #fff;
}
.success {
  background-color: #28a745; /* Green for success */
  border-color: #1e7e34;
}
.error {
  background-color: #dc3545; /* Red for errors */
  border-color: #bd2130;
}
.info {
  background-color: #17a2b8; /* Blue for information */
  border-color: #117a8b;
}
.warning {
  background-color: #ffc107; /* Yellow for warnings */
  border-color: #d39e00;
  color: #212529; /* Dark color for text to provide contrast */
}
