<html>
  <head>
    <title>CloudHigh Reservation</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
    {% block head %} {% endblock %}
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <a
          class="nav-name"
          style="pointer-events: none; cursor: default"
          href="#"
          >CloudHigh Traveling</a
        >
        <a href="/">Home Page</a>
        <a href="/flights">Book a Flight</a>
        <a href="/bookings">Bookings</a>
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
