{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/bookings.css') }}"
/>
{% endblock %}{% block content %} {% with messages =
get_flashed_messages(with_categories=true) %} {% if messages %} {% for category,
message in messages %}
<div class="flash-message {{ category }}">{{ message }}</div>
{% endfor %} {% endif %} {% endwith %}
<div class="container">
  {% for ticket in tickets %}
  <div class="card">
    <div class="status">{{ ticket.status }}</div>
    <div class="name-container">
      <h2>Booking #{{ ticket.ticket_number }}</h2>
      <h2>Flight: {{ ticket.flight.flight_number }}</h2>
    </div>
    <p><strong>Airline:</strong> {{ ticket.flight.airline_name }}</p>
    <p><strong>Aircraft:</strong> {{ ticket.flight.aircraft_model }}</p>
    <p><strong>Seat Class:</strong> {{ ticket.seat_class }}</p>
    <p>
      <strong>Day of Purchase:</strong> {{ ticket.booking_date.strftime('%B %d,
      %Y @ %I:%M %p')}}
    </p>
    <p><strong>Price:</strong> ${{ ticket.flight.price }}</p>
    <form
      action="{{ url_for('delete_booking', ticket_number=ticket.ticket_number) }}"
      method="POST"
    >
      <button type="submit" class="delete-btn">Remove Booking</button>
    </form>
  </div>
  <form>
  <button type ="button" class="delete-btn" onclick="printFunction()">Print Page</button>
</form>
      <script>
       function printFunction()
        {
         print()
        } 
      </script>
  {% endfor %}
</div>

{% endblock %}
