{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flights.css') }}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <script>
        $(document).ready( function () {
            $('table').DataTable();
        } );
    </script>
{% endblock %}
{% block content %}

    <div class="route-container">
        {% for origin, flight_info in flight_info.items() %}
            <div class="route">
                <input type="checkbox" id="route{{ loop.index }}" class="route-checkbox" />
                <label for="route{{ loop.index }}" class="route-label">
                    <span>Airport: {{ origin }}</span>
                </label>
                <div class="slide">
                    <table>
                        <thead>
                        <tr>
                            <th>Flight Number</th>
                            <th>Destination</th>
                            <th>Airline Name</th>
                            <th>Weather</th>
                            <th>Price</th>
                            <th>Book</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if flight_info %} {% for flight in flight_info %}
                            <tr>
                                <td>{{ flight.flight_number }}</td>
                                <td>{{ flight.route.destination }}</td>
                                <td>{{ flight.airline_name }}</td>
                                <td>{{ flight.weather_description }}</td>
                                <td>${{ flight.price }}</td>
                                <td>
                                    <form
                                            action="{{ url_for('book_flight', flight_number=flight.flight_number) }}"
                                            method="POST"
                                    >
                                        <button type="submit" class="delete-btn">Book a Flight</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %} {% else %}
                            <tr>
                                <td colspan="5">No flights available</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
